doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="成都顺壹科技主要服务于银联，提供第三方支付及POS机办理、安装、营销、售后的一体化服务商。详询：028-61865352")
        title 发展历程 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .row
                    .page-img.w-100(style="background:url('http://www.lakala.com/uploads/190117/190117/2-1Z11GH259320.jpg') no-repeat center;background-size:cover;")
                        img(src='http://www.lakala.com/uploads/181127/2-1Q12G64225J0.jpg')
                .container
                    .row
                        h2 发展历程
                    section.row

                        p 拉卡拉支付股份有限公司是国内第三方支付领军企业，首批获得了央行颁发的《支付业务许可证》，通过“线上+线下”、“硬件+软件”的形式提供个人支付、商户收单、征信等业务。拉卡拉支付在全国非银支付机构中收单交易规模位列行业前二，2017年在中国智能POS市场覆盖率、终端投放量和终端扫码受理笔数方面均位居行业第一。
                        ul.timeline
                            li
                                .timeline-badge
                                    i 2005
                                .timeline-panel
                                    .timeline-body
                                        p 拉卡拉成立，率先开发出电子账单平台
                            li.timeline-inverted
                                .timeline-badge
                                    i 2006
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉与中国银联签署战略合作协议，推出电子账单支付服务及银联标准卡便民服务网点
                            li
                                .timeline-badge
                                    i 2007
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉率先在北京、上海地区展开拉卡拉便利支付点建设，上海地区近2000家快客便利店成为拉卡拉便利支付
                            li.timeline-inverted
                                .timeline-badge
                                    i 2008
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉进入成都、西安、南京、苏州、无锡、常州、郑州、长沙、东莞、佛山、珠海、中山等城市
                            li
                                .timeline-badge
                                    i 2009
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 完成38个城市完全覆盖、88个城市布局，便利支付点达3万余个，月交易量600万笔，99%的品牌便利店已与拉卡拉达成战略合作，拉卡拉便利支付点已融入城市居民日常生活中
                            li.timeline-inverted
                                .timeline-badge
                                    i 2010
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 大力发展个人用户、加盟网点、叠加业务的2.0时代
                                        p 4月，拉卡拉发布Mini家用刷卡机，成为首部针对家庭及个人刷卡的专属设备，将支付环境缩小至家中
                                        p 11月，拉卡拉成为北京“三通”工程建设重要的服务及设备供应商
                            li
                                .timeline-badge
                                    i 2011
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉获得首批央行颁发的《支付业务许可证》，成为中国第三方支付行业的先锋
                                        p 9月，拉卡拉超级盾上市；成为第一代便携式个人金融服务终端，真正意义上开启了跨行业务无阻碍的革命
                            li.timeline-inverted
                                .timeline-badge
                                    i 2012
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉全面进入商户收单服务市场，创新性的推出了针对大、中、小商户的多种POS产品和服务
                                        p 5月，拉卡拉手机刷卡器问世。由此，拉卡拉全面完成针对银行、商户、个人的第三方支付市场立体战略布局
                            li
                                .timeline-badge
                                    i 2013
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉在移动支付市场名列前茅。
                                        p 8月，拉卡拉完成集团化结构调整
                            li.timeline-inverted
                                .timeline-badge
                                    i 2014
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉持续在移动支付市场名列前茅。
                                        p 3月，拉卡拉手机收款宝问世，让小微商户的收单业务步入移动互联网时代，给传统POS以全新定义
                                        p 6月，拉卡拉推出创新银行解决方案，为城乡银行提供平台支持以及技术支持
                                        p 6月，拉卡拉获得人民银行颁发的企业征信牌照。
                                        p 7月，拉卡拉推出“替你还”业务，为信用卡用户提供短期代偿业务，正式进军互联网金融领域
                            li
                                .timeline-badge
                                    i 2015
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 2015年拉卡拉全平台交易规模超过1.6万亿，拉卡拉扭亏为盈，盈利超过1.26亿元。
                                        p 12月，孙陶然出席第二届世界互联网大会并参与大会相关论坛活动。
                                        p 11月，拉卡拉秉承普惠、科技、创新、综合的理念，打造了底层统一，用户导向的金融服务共生系统。
                                        p 10月，孙陶然出席中英互联网圆桌会议，签下中国商务代表团访英期间的首单
                                        p 9月，拉卡拉上线满足全场景支付功能的智能可穿戴设备拉卡拉手环，覆盖所有支付消费场景。
                                        p 1月人民银行印发《关于做好个人征信业务准备工作的通知》，拉卡拉成为首批获得“开展个人征信业务准备工作资质”的企业之一
                                        p 拉卡拉在中国第三方移动支付领域和收单行业交易规模长期位列前三。
                                        

                            li.timeline-inverted
                                .timeline-badge
                                    i 2016
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 1月，拉卡拉金融级全新客服号“95016”启用，进一步提升用户体验。
                                        p 3月，考拉征信上线国内首个职业雇佣征信服务平台。
                                        p 3月，拉卡拉加入中国互联网金融协会
                                        p 3月，拉卡拉积分购APP正式上线，打造中国积分运营的新生态。
                                        p 9月，联想金融正式独立运营。
                                        p 10月，集团架构拆分为支付和金融两大集团。广州拉卡拉网络小贷揭牌。
                                        p 12月，拉卡拉影业引进的好莱坞大片《掠夺者》上映，首次以联合发行方的身份走到台前。
                                        p 12月，拉卡拉上线第二代风控系统——“鹰眼”风控系统。
                                        p 12月，拉卡拉推出全国首款空中发卡智能手环。

                            li
                                .timeline-badge
                                    i 2017
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 拉卡拉智能POS市场覆盖率第一
                                        p 拉卡拉收单业务规模行业前三
                                        p 拉卡拉金融处于互联网金融第一梯队
                                        p 拉卡拉支付手环开通率行业第一
                                        p PAYMAX聚合支付市场覆盖率领先
                                        p 拉卡拉登上全球科技创业公司“独角兽”榜单
                                        p 1月，拉卡拉与汉口银行宣布达成BFF模式的合作，科技金融合作新升级。
                                        p 4月，拉卡拉金融携手福建海峡银行，科技金融BFF合作新升级。
                                        p 4月，考拉云智风控引擎系统正式发布。
                                        p 4月，拉卡拉金融上线定制化基金产品考拉智投，金融科技深入应用。
                                        p 4月，考拉征信上线一站式服务平台，破解信贷风控难题。
                                        p 4月，拉卡拉跨界手环正式发布，牵手《跨界歌王》深入人心。
                                        p 9月，全球独角兽公司榜单公布，拉卡拉榜上有名。
                                        p 11月，拉卡拉支付与公安部经侦局签署合作备忘录，共同防范金融风险，维护支付安全和群众利益。
                                        p 1月，拉卡拉向海淀教育基金会捐赠1000万元，助推海淀区基础教育发展，推进海淀基础教育高水平均衡发展。
                                        p 4月，拉卡拉设立全民梦想基金500万，帮助有梦并持续努力的人实现梦想。
                                        p 6月，拉卡拉向北京大学捐资5000万元，设立北京大学拉卡拉教育基金。

                            li.timeline-inverted
                                .timeline-badge
                                    i 2018
                                .timeline-panel
                                    .timeline-heading
                                    .timeline-body
                                        p 1月，中国互联网金融协会和考拉征信等八家征信机构，共同发起成立百行征信有限公司。考拉征信持股8%，并当选百行征信董事。百行征信获得我国首张个人征信业务牌照。
                                        p 3月，拉卡拉董事长孙陶然著作《有效管理的5大兵法——用文化管公司》发布上市，受到社会各界热烈反响。
                                        p 3月，拉卡拉蓝色光标联合成立昆仑堂大数据研究院，聚力打造智慧经营平台。

                        
            include ../../shared/component/footer/index.pug
   
