doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="keywords",content="拉卡拉商户通客户端")
        meta(name="description" content="拉卡拉商户通不仅通过Q码台卡、超级收款宝、收款宝盒等多种服务终端形式为商家提供全场景、多通道、更专业的移动支付解决方案；同时也为商户端提供详细的使用引导帮助，指导户布置支付引导及营销活动物料。帮助商户快速学会手机平台查账、会员管理、营销活动等多种工具，节约运营成本，提升管理效率，引流更多顾客，增加消费者粘性。咨询：028-61865352")
        title 拉卡拉商户通客户端下载 - 拉卡拉官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 商户通
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='http://shouji.360tpcdn.com/181009/6388b52de3c3412a256d58f99af215c8/com.lakala.shanghutong_1004.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20181024140424_43729-150x150.png')
                                        .inner-content
                                            h3.title Android客户端版本 V3.0.0
                                            p.description 2018年10月10日更新 1.APP重构
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='https://itunes.apple.com/cn/app/%E6%8B%89%E5%8D%A1%E6%8B%89%E5%95%86%E6%88%B7%E9%80%9A/id980863266?mt=8')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20181024140621_49644-150x150.png')
                                        .inner-content
                                            h3.title IOS客户端版本 V3.0.0
                                            p.description 2018年10月10日更新 1.APP重构
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 拉卡拉商户通
                            p 拉卡拉商户通是专注服务商家运营工具。
                            p 拉卡拉商户通不仅通过Q码台卡、超级收款宝、收款宝盒等多种服务终端形式为商家提供全场景、多通道、更专业的移动支付解决方案；同时也为商户端提供详细的使用引导帮助，指导户布置支付引导及营销活动物料。帮助商户快速学会手机平台查账、会员管理、营销活动等多种工具，节约运营成本，提升管理效率，引流更多顾客，增加消费者粘性。
                            h3 主要特点
                            p 1.多种收款方式，收款推送通知  商家所有的收款设备，收款成功后实时消息推送、语音播报通知收款金额。
                            p 2.账本实时查询，满足商家对账商家所有收款交易，交易完成，即时查询，支持查询三个月交易。
                            p 3.开通自助提款，收款到账时间快次日免费提款，自助申请当日提款
                            p 4.智能识别验证，提升收款额度额度不够用，自助申请提升额度，智能识别认证。
                           
                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
