doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="keywords",content="考拉超收app,考拉超收安卓客户端,考拉超收ios客户端")
        meta(name="description",content="移动收款操作便捷，资金安全到账及时。邀请好友享受会员优惠费率，更多会员权益和会员活动，给你新的体验！")
        title 考拉超收app - 考拉超收客户端下载 - 官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 考拉超收
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='https://download.lakala.com/Lakala_klcs_V1.1.0_legu.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2019/04/2-1Z32R1452Y12-150x150.png')
                                        .inner-content
                                            h3.title Android客户端版本 V1.1.0
                                            p.description 2019年3月28日更新 1.移动收款操作便捷，资金安全到账及时。 2.邀请好友享受会员优惠费率，更多会员权益和会员活动，给你新的体验！
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='javascript:void;;')
                                        .timeline-icon
                                            //- i.fa.fa-cloud-download
                                            //- img.hide(src='')
                                        .inner-content
                                            h3.title IOS客户端版本 V1.1.0(暂时未上线)
                                            p.description 
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 激活标准及奖励详细
                            p 1.开通刷卡冻结100元，激活当日起三个月内刷满10万，拉卡拉退还冻结资金100元。（APP自助体现）
                            p 2.开通当日起享受30天VIP超低手续费。
                            p 3.每分享一位新用户开通使用，拉卡拉直返奖励金50元（APP自助体现）
                            p 4.每分享一位新用户开通使用，同时获得90天VIP超低手续费（可叠加）
                            p 5. 达标用户均可领取以上权益。
                            

                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
