doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="拉卡拉pos机app下载，拉卡拉pos机手机版下载，提供安卓Android客户端最新版下载和苹果ios客户端版本下载，咨询：028-61865352")
        title 拉卡拉pos机app下载_拉卡拉pos机手机版下载_安卓Android客户端最新版_苹果ios客户端版本 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .row
                    .page-img.w-100(style="background:url('http://www.lakala.com/templets/default/image/phone/load.jpg') no-repeat center;background-size:cover;")
                        img(src='http://www.lakala.com/templets/default/image/temp/load.jpg')
                .container
                    .row
                        h2 下载中心
                    .row.mb-10
                        .col-md-6
                            .card.text-center   
                                img.card-img-top.w-50(style='margin-left:25%' src='http://www.sclakala.cn/wp-content/uploads/2019/01/20150902021424_40000.png')
                                .card-body.text-center
                                    h4.card-title 拉卡拉手环
                                    p.card-text.text-left.text-intent 带着拉卡拉手环刷地铁、坐公交，各大商超闪付消费，随时随地空中充值不用排队，每日健康建议私人定制，让你摇身变达人！
                                    a.btn.btn-normal(href='/lakala/download-center/lakala-credit') 下载详情

                        .col-md-6
                            .card.text-center   
                                img.card-img-top.w-50(style='margin-left:25%' src='http://www.sclakala.cn/wp-content/uploads/2019/01/20150205132850_36815.png')
                                .card-body.text-center
                                    h4.card-title 拉卡拉
                                    p.card-text.text-left.text-intent 急用钱就找拉卡拉！无抵押、纯信用，一张身份证最高可借30万，5分钟申请，1小时放款，额度可循环！正规持牌机构，放心轻松。
                                    a.btn.btn-normal(href='/lakala/download-center/lakala') 下载详情
                    .row.mb-10
                        .col-md-6
                            .card.text-center   
                                img.card-img-top.w-50(style='margin-left:25%' src='http://www.sclakala.cn/wp-content/uploads/2019/01/20150205132830_50468.png')
                                .card-body.text-center
                                    h4.card-title 手机收款宝客户端
                                    p.card-text.text-left.text-intent 结账收款不发愁，生意兴隆好帮手！收款宝在手，随时随地刷卡！赶快下载客户端，开启便利新生活！
                                    a.btn.btn-normal(href='/lakala/download-center/collection-treasure') 下载详情

                        .col-md-6
                            .card.text-center   
                                img.card-img-top.w-50(style='margin-left:25%' src='http://www.sclakala.cn/wp-content/uploads/2019/01/20150806145134_99241.png')
                                .card-body.text-center
                                    h4.card-title 商户通
                                    p.card-text.text-left.text-intent 移动支付专家，轻松管理多门店、多终端，交易对账、实时播报。帮助商家将生意经营更简单，开店更便捷！
                                    a.btn.btn-normal(href='/lakala/download-center/merchant-pass') 下载详情
                    .row.mb-10
                        .col-md-6
                            .card.text-center   
                                img.card-img-top.w-50(style='margin-left:25%' src='http://www.sclakala.cn/wp-content/uploads/2019/01/20180309105737_35771.png')
                                .card-body.text-center
                                    h4.card-title 云码盒子客户端
                                    p.card-text.text-left.text-intent App与云码盒子扫码收款终端绑定，秒变智能小助手；查账放心、收款省心，助力中小微商户收好每一单！
                                    a.btn.btn-normal(href='/lakala/download-center/cloud-code-box') 下载详情

                        


            include ../../shared/component/footer/index.pug
   
