doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="keywords",content="拉卡拉云码盒子客户端")
        meta(name="description",content="“云码盒子”系列产品，是专业的扫码收款设备，支持微信支付、支付宝等条码、二维码识读和收款，与静态二维码牌收款方式相比更加高效、安全。可广泛应用于各类消费场所，尤其适合快餐简餐、便利超市、生活服务、休闲娱乐等中小微商户的收款、收费场景。咨询：028-61865352")
        title 拉卡拉云码盒子 - 客户端下载 - 拉卡拉官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 云码盒子客户端
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='http://download.lakala.com.cn/LB/XBB/LakalaCloudBox-v1.2.0.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20180309111549_69474-150x150.jpg')
                                        .inner-content
                                            h3.title Android客户端版本 V1.2.0
                                            p.description 2018年7月3日更新 1.新增扫码连网功能；2.新增扫码设置常用收款金额功能
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='https://itunes.apple.com/cn/app/id1343592942?mt=8')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20180703110023_10839-150x150.jpg')
                                        .inner-content
                                            h3.title IOS客户端版本 V1.2.0
                                            p.description 2018年7月3日更新 1.新增扫码连网功能；2.新增扫码设置常用收款金额功能
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 主要功能
                            p 1. 开通和激活：开通商户、激活云码盒子，自助式流程简单高效；
                            p 2. 收款管理：通过云码盒子扫码收款终端所收款项，可在App实时查看，交易明细一目了然、安全不漏单；
                            p 3. 提款服务：商户所收款项可申请当日提款，快速到账、服务稳定，资金周转不发愁；
                            p 4. 收款码：App生成店铺收款码，顾客扫码也能付款哦；
                            p 5. 金融服务：接入多家持牌合规贷款公司产品，商户专享精品理财方案，为好生意加速；
                            p 6. 更多商户服务：自助提升收款/提款额度、收银员管理、设备管理、便民缴费…个性需求全面满足。
                            h3 产品特点
                            p 云码盒子”系列产品，是专业的扫码收款设备，支持微信支付、支付宝等条码、二维码识读和收款，与静态二维码牌收款方式相比更加高效、安全。可广泛应用于各类消费场所，尤其适合快餐简餐、便利超市、生活服务、休闲娱乐等中小微商户的收款、收费场景。
                            p App与“云码盒子”绑定，秒变智能小助手；查账放心、收款省心，助力中小微商户收好每一单！
                            
                           
                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
