doctype html
html(lang="zh")
    head
        include ../../shared/head.pug
        meta(name="description",content="拉卡拉智能收银台是融合“互联网+”全新理念的一体化智能收银终端。费率0.38%。详询：15108377376。拉卡拉智能收银台搭配安卓系统，兼容性强，可自定义支付方式，支持刷卡、扫码、闪付等主流支付方式，可打通会员管理、团购、外卖等各类应用系统，集智能收银、店铺管理、数据分析、精准营销等一体，也一站式解决商户智能收银、智慧店铺的经营需求，助力店铺经营升级。")
        title 智能收银台_开店更轻松 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 拉卡拉智能收银台
                .row
                    .col-md-12
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20180413140214_47525.jpg')
                .container
                    .row
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/03/checkout5.jpg')

                    .row
                        section
                            p 垃卡拉智能收银台是融合“互联网+”新理念的一体化智能收银终，搭配安卓系统，兼容性强，可自定义支付方式，支持刷卡、扫码、闪付等常用支付方式，可打通会员管理、团购、外卖等各类应用系统，集智能收银、店铺管理、数据分析、对准营销等一体，可一站式解决商户智能收银、智慧店铺的经营需求，助力店铺经营升级。
                    .row
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/03/checkout4.jpg') 
                    .row
                        section
                            h3 点餐收款一体化
                            p 微信点餐自助式，同步收银后台结算快
                            p 支付多元不受限，刷卡扫码闪付都支持
                            p 打印不卡顿，自动切纸省事快且简
                    .row
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/03/checkout3.jpg') 
                    .row
                        section
                            h3 店铺管理
                            p 商品一键上下架，类别价格图片全都有
                            p 桌台动态实时化，清开换桌有效高翻台
                            p 后厨管理互联化，下单核单排单出菜快
                            p 财务报表智能化，自动生成导出对账快
                            p 会员管理体系化，开卡充值核销更轻松
                    .row
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/03/checkout2.jpg') 
                    .row
                        section
                            h3 数据分析
                            p 会员信息数据化，行为习惯喜好尽掌握
                            p 营销活动更有方向
                            p 经营情况实时查，时段分布菜品销量精细化
                            p 营销策略调整有方略
                    .row
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/03/checkout1.jpg') 
                    .row
                        section
                            h3 海量O2O应用可兼容
                            p 基于互联网和高性能处理系统
                            p 可支持安装很多常用应用系统
                            p 帮助商户实现线上线下的融合
            include ../../shared/component/footer/index.pug

