doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="keywords",content="拉卡拉客户端")
        meta(name="description",content="拉卡拉pos机app下载，拉卡拉pos机手机版下载，提供安卓Android客户端最新版下载和苹果ios客户端版本下载，咨询：028-61865352")
        title 拉卡拉客户端下载 - 拉卡拉官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 拉卡拉
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='http://download.lakala.com.cn/Lakala_V8.5.0.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20180927155109_96785.png')
                                        .inner-content
                                            h3.title Android客户端版本 V8.5.0
                                            p.description 2019年3月14日更新 1.优化 “易分期”申请流程，提升通过率。 2.优化 “活期宝”取出规则，稳健更安全。
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='https://itunes.apple.com/cn/app/la-ka-la/id523367437?mt=8')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20150519100139_67117.jpg')
                                        .inner-content
                                            h3.title IOS客户端版本 V8.5.0
                                            p.description 2019年3月6日更新 1、优化 “易分期”申请流程，提升通过率。 2、优化 “活期宝”取出规则，稳健更安全。
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 产品介绍
                            p
                                strong 易分期：
                                |仅需身份证就能借款，最高额度10万，审核快捷、快至1小时放款！关注“拉卡拉金融”微信公众号，就可实现申请、查询、还款等多种操作。
                            p
                                strong 替你还：
                                |一款信用卡还款神器，申请简单、放款快速，实时恢复信用额度、有效缓解信用卡用户还款难题。
                            p
                                strong 员工贷：
                                |额度高达30万，手机即可申请，快至1个工作日放款，期限长达36期，无需给到用途证明，放款快，大额消费难题就选员工贷。
                            p
                                strong 抵押贷：
                                |额度高、最高可达500万，放款快、资料齐全3个工作日放款，期限选择灵活，最高可知8年期，手续简单，凭回执放款。
                            p
                                strong 赚点钱：
                                |随用随取，活期宝、定期理财、考拉智投，无忧获取好收益。
                            p
                                strong 便利服务：
                                |转账汇款快速，跨行异地也最快2小时到账；刷卡查余额、便民缴费超方便；手机充值、交通罚款等，一键就完成。
                            h3 小提示
                            p 为保证对各品牌手机的兼容性，根据各厂商出产的手机采用的音频接口标准的不同， 在选择拉卡拉手机刷卡器时请先确认您的手机适用的刷卡器类型
                            p 国际标准（正向）：国际标准的音频接口，如苹果、小米等品牌的手机
                            p 国家标准（反向）：我国国家标准的音频接口，如华为、联想等品牌的手机
                            p 自动识别：可以自动识别正反向音频接口的刷卡器

                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
