doctype html
html(lang="zh")
    include ../../shared/head.pug
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .row
                    .page-img.w-100(style="background:url('http://www.lakala.com/templets/default/image/phone/load.jpg') no-repeat center;background-size:cover;")
                        img(src='http://www.lakala.com/templets/default/image/temp/load.jpg')
                
                .container
                    .row
                        h2 拉卡拉智能POS
                
                    include ../../shared/component/footer/index.pug
   
