doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="description",content="考拉信用APP是国内首款集信用评分、个人信用查询与贷款超市于一体的独立第三方征信应用产品，致力于提升、修复用户信用，提供个人、商户的一站式信用服务，是信用创造价值的直接体现。 考拉信用，您的信用能借钱。详询：028-61865352")
        title 拉卡拉穿戴客户端 - 拉卡拉官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 拉卡拉手环
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='http://download.lakala.com/LB/LakalaBand-v3.0.1.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2019/03/2-1Q1201K1214H.png')
                                        .inner-content
                                            h3.title Android客户端版本 V3.0.1
                                            p.description 2018年12月29日更新 1、性能优化，给予用户更好的流畅体验； 2、界面微调，提…
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='https://itunes.apple.com/cn/app/kao-la-shou-huan/id1002303127?l=en&mt=8')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://www.sclakala.cn/wp-content/uploads/2019/03/2-1Q1201K24LX.png')
                                        .inner-content
                                            h3.title IOS客户端版本 V3.0.1
                                            p.description 2018年12月18日更新 1、性能优化，给予用户更好的流畅体验； 2、界面微调，提…
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 主要功能
                            p 考拉信用APP是国内首款集信用评分、个人信用查询与贷款超市于一体的独立第三方征信应用产品，致力于提升、修复用户信用，提供个人、商户的一站式信用服务，是信用创造价值的直接体现。 考拉信用，您的信用能借钱！
                            h4 【信用借】
                            p 网罗上百种借贷产品，7*24小时在线借钱，可借20万，2小时放款，满足用户各种借款需求；
                            h4 信用卡申请】
                            p 信用卡全面服务。直连各大银行，极速在线申请，快至1分钟；
                            h4 【信用购】
                            p 让信用好的人享受享受更好的生活。信用免押、信用换礼，优惠多多，让你真实感受信用价值！
                            h4 【考拉信用分】
                            p 信用创造价值！用信用打通绿色通道，让生活更加便利。
                            h4 【考拉信用通行证】
                            p 让信任更直接！是个人信息由考拉信用认证的，具有公信力，能快速有效地建立信任的信息载体，解决共享经济大潮下人与人之间的信任问题。是您在租房、婚恋、职场、家政、教育等不可缺的信用工具，带来信用生活新风尚。
                            h4 【信用详情】
                            p 让信用更生动！通过各种有趣标签，让你轻松理解自己的信用记录。
                            h4 【人脸识别】
                            p 酷炫刷脸秒升信用；
                            h4 【一键缴费】
                            p 便民缴费，想缴就缴，方便快捷；
                            h3 产品特点
                            p 
                            h4 考拉信用分：
                            p 用信用打通绿色通道，让生活充满惊喜。
                            h4 信用通行证：
                            p 个人信息由考拉信用认证，能快速有效地建立信任关系，解决共享经济大潮下人与人之间的信任问题。是您在贷款、租房、婚恋、职场、家政、教育等不可缺的信用工具哦。
                            h4 信用详情：
                            p 通过各种有趣标签，让你轻松理解自己的信用记录。
                            h4 信用购：
                            p 让信用好的人享受更好的生活。办理信用卡、信用免押、信用换礼，优惠多多，让你真实感受信用价值！

                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
