doctype html
html(lang="zh")
    head
        include ../../../shared/component/head/index.pug
        meta(name="keywords",content="拉卡拉手机收款宝客户端")
        meta(name="description",content="拉卡拉手机收款宝客户端即开即用、操作简单；在线注册、一键开通；高效智能、安全便捷。咨询：028-61865352")
        title 拉卡拉手机收款宝客户端下载 - 拉卡拉官方网站
    body
        include ../../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 手机收款宝客户端
                    .row
                        .col-md-12
                            .main-timeline
                                .timeline
                                    a.timeline-content(href='http://download.lakala.com.cn/Lakala_skb_V5.4.3.apk')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20171016105538_34859.png')
                                        .inner-content
                                            h3.title Android客户端版本 V5.4.3
                                            p.description 2019年1月22日更新 1.优化活体检测的系统速度和流程。 2.去掉“刷卡收款”…
                                        .timeline-year
                                            span Android
                                .timeline
                                    a.timeline-content(href='https://itunes.apple.com/cn/app/la-ka-la-shou-kuan-bao/id760166604')
                                        .timeline-icon
                                            i.fa.fa-cloud-download
                                            img.hide(src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20150319165927_11116.png')
                                        .inner-content
                                            h3.title IOS客户端版本 V5.4.2
                                            p.description 2018年8月02日更新 1.优化活体检测的系统速度和流程。 2.去掉“刷卡收款”…
                                        .timeline-year
                                            span IOS
                    .row
                        section
                            h3 主要功能
                            p
                                strong 申请开通：
                                |人人可申请，随时开通，随时使用。
                            p
                                strong 刷卡收款：
                                |下载客户端，支持连接智能手机、平板电脑 。
                            p
                                strong 撤销交易：
                                |只需两步轻松撤销交易。
                            p
                                strong 交易记录查询：
                                |交易明细一目了然。
                            p
                                strong 余额查询：
                                |轻松查询银行卡余额 。
                            p
                                strong 计算器：
                                |结账收款快速计算 。
                            p
                                strong 手机充值：
                                |实时到账，手机再也不欠费。
                            p
                                strong 转账汇款：
                                |随时随地汇款，大额转账安全高效 。
                            p
                                strong 信用卡还款：
                                |足不出户轻松还款，跟排队说再见。
                            p
                                strong 电子签购单：
                                |持卡人电子签名，让交易更安全。
                            p
                                strong 商户升级：
                                |交易额度提升，生意更兴隆。
                            h3 产品特点
                            p 即开即用、操作简单；在线注册、一键开通；高效智能、安全便捷。
                            h3 小提示
                            p 为保证对各品牌手机的兼容性，根据各厂商出产的手机采用的音频接口标准的不同，拉卡拉手机收款宝分为5款型号，在选择拉卡拉手机收款宝时请先确认您的手机适用的产品类型

                            
                           
                        
            include ../../../shared/component/footer/index.pug
   
