doctype html
html(lang="zh")
    head
        include ../shared/component/head/index.pug
        meta(name="description",content="四川富卡科技有限公司是拉卡拉pos、海科融通pos、瑞银信pos机、核心代理机构，咨询电话：028-61865352，我公司提供银联刷卡机、手机POS机、POS机办理、POS机安装、智能pos机刷卡业务，致力于“安全、稳定、便捷”的移动支付解决方案。")
        title 成都pos机_成都pos机办理_成都手机pos机_拉卡拉pos机_成都免费pos申请 - 拉卡拉官方网站
    body
        //- include ../shared/header.pug
        include ../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                
                .row
                    .col-md-12
                        include ../shared/component/carousel/index.pug
                img.w-100(src='/static/img/index/main-1.jpg')
                .row
                    .col-md-12.d-md-none
                        <video src='http://www.sclakala.cn/wp-content/uploads/2019/03/1.mp4?_=1' controls="controls" style='width:100%'>
            include ../shared/component/footer/index.pug
    script. 
       
