doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description" content="拉卡拉全能收钱码是拉卡拉最新他推出的聚合扫码收款系列产品，覆盖微信、支付宝、银联钱包、拉卡拉钱包等主流扫码渠道，可支持银行卡Quick Pass、银联云闪付、ApplePay等挥手付，为中小微商户提供多元化的收款服务，具有掌上查账、交易语音播报等功能。个性化定制拉卡拉Q码、拉卡拉动态台卡等形态，可满足不同商户的不同收款需求。详询15114016285")
        title 拉卡拉全能收款码_收钱只用一个码 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .container
                    .row
                        h2 拉卡拉全能收款码
                .row
                    .col-md-12
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20180413135829_73496.jpg')
                .container
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/112-300x200.png')
                        .col-md-8.m-auto
                            section
                                h3 拉卡拉全能收款码 收钱只用一个码
                                p 拉卡拉全能收钱码是拉卡拉最新推出的聚合扫码收款系列产品，覆盖微信、支付宝、银联钱包、拉卡拉钱包等主流扫码渠道，可支持银行卡Quick Pass、银联云闪付、Apple Pay等挥手付，为中小微商户提供多元化的收款服务。
                    
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/POS-8-300x200.jpg')
                        .col-md-8.m-auto
                            section
                                h3 主流渠道全支持
                                p 一码通用聚合付，微信支付宝都能收
                                p NFC快速挥手付，免密免签找零
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Pay-code2-300x200.jpg')
                        .col-md-8.m-auto
                            section
                                h3 一站式掌上查账
                                p 一站式交易后台，各渠道交易统一管理
                                p 移动式账务查询，渠道金额等一目了然
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Pay-code1-300x200.jpg')
                        .col-md-8.m-auto
                            section
                                h3 语音播报不漏单
                                p 收款操作有提示，提醒顾客扫码省沟通
                                p 成功交易不漏单，笔笔语音播报更放心
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Pay-code-300x200.jpg')
                        .col-md-8.m-auto
                            section
                                h3 多场景多行业覆盖
                                p Q码台卡、动态台卡等样式
                                p 满足不同场景所需
                    
                    
                    

        include ../../shared/component/footer/index.pug

