doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="拉卡拉多媒体是一款集合“支付、生活、金融、电商”功能的智能终端，是一款具有划时代意义的创新产品。开店宝提供社区金融及电子商务平台服务， 具有刷卡收款、自助银行、便民缴费、生活服务、电子货架、商户收单六大功能，是下游商户旺人气、扩经营、减成本的必备赚钱利器。详询：13880716202")
        title 拉卡拉多媒体_拉卡拉智能终端 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper

                .container
                    .row
                        h2 多媒体智能终端
                .row
                    .col-md-12
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150311093638_30320.jpg')
                .container
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312143523_29773-300x243.png')
                        .col-md-8
                            section
                                p 多媒体是一款集合“支付、生活、金融、电商”功能的智能终端，是一款具有划时代意义的创新产品。开店宝提供社区金融及电子商务平台服务， 具有刷卡收款、自助银行、便民缴费、生活服务、电子货架、商户收单六大功能，是下游商户旺人气、扩经营、减成本的必备赚钱利器。
                                p 上游厂商和批发商可以利用开店宝电子货架进行批发和零售业务，改善供应链，获得更多销售机会；社区店铺可以运用开店宝实现聚人气、增收入、降成本的目标；社区居民在开店宝上可以浏览、购买精选优质品牌商品，同时一站式解决公共缴费、生活消费等需求。
                    .row
                        .col-md-12
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312142833_704691.png')
                    .row
                        .col-md-12
                            h3 开店宝帮助店主完美解决三件事
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20150319143623_70968.jpg')
                        .col-md-10
                            section
                                p
                                    strong 旺人气
                                    | 便民服务聚人气，拉卡拉开店宝上独有的自助银行、便民缴费、生活服务满足周边居民每月必不可少的需求，据统计超过40%的邻里来店里使用拉卡拉后会顺手购买些其他商品。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150319143646_41730.jpg')
                        .col-md-10
                            section
                                p
                                    strong 降成本
                                    | 越级批发降成本，拉卡拉直连众多供应商，大幅度减少批发层级，有了开店宝再也不用起早贪黑跑批发市场进货，刷卡下单送货上门，进价低而且品质有保证。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150319143659_65065.jpg')
                        .col-md-10
                            section
                                p
                                    strong 扩经营 
                                    | 开店宝的六大功能，特别是社区商城模块，让您小店变大店，不仅能增加经营品类 ，还能增加店铺的经营额。

        include ../../shared/component/footer/index.pug

