footer{
    background-color: #00b9f1;
    padding: 20px 0;
    color: white;
}
footer .logo {

}
footer .qrcode {
    max-width:200px; 
    min-width:85px;
    height: auto;
}
.bg-lakala {
    background-color: #00b9f1;
}