footer
    .container
        .row
            .col-md-3
            .col-md-3.m-auto.text-center
                //- img.logo(src='/static/img/shared/component/nav/logo-white.png',alt='拉卡拉logo')
                p 咨询热线：13880716202
                p 咨询热线：15114016285
                p （24hrs星期一到星期日,免费上门安装）
                p 售后电话：028-61865352（8:00-22:00）
                p 富卡科技公众号：四川富卡科技有限公司
            .col-md-3.text-center
                //- img.qrcode(src='/static/img/shared/component/footer/qrcode.png',alt='官方二维码')
                .card.mb-3.bg-lakala
                    .row.no-gutters
                        .col-md-4
                            img.card-img.qrcode(src='/static/img/shared/component/footer/qrcode.png')
                        .col-md-8
                            .card-body
                                h5.card-title 微信扫码，24h随时咨询。
            .col-md-3
        .row
            .col-md-12.text-center
                img.logo(src='/static/img/shared/component/nav/logo-white.png',alt='拉卡拉logo')
                p 版权所有 ©2019 四川富卡科技有限公司 | 蜀ICP备19011010号 |
script. 
    var _hmt = _hmt || [];
    (function(){
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fd3e1d60b43eae56c3f3aead6f924f60";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
   