doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="四川富卡科技主要服务于银联，提供第三方支付及POS机办理、安装、营销、售后的一体化服务商。详询：028-61865352")
        title 公司简介 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                .row
                    .page-img.w-100(style="background:url('http://www.lakala.com/uploads/190227/2-1Z22G4234L50.jpg') no-repeat center;background-size:cover;")
                        img(src='/static/img/about-us/company-profile/pc-head.jpg')
                .container
                    .row
                        h2 公司简介
                    .row
                        section
                            p 四川富卡科技主要服务于银联，是一家创新发展新型支付服务，为个人用户和企业用户提供跨互联网、移动网络、POS网络的支付解决方案。
                            p 公司业务范围涵盖网银支付、POS收单、手机钱包、餐饮、物流、连锁超市等，各种应用场景、企业综合支付解决方案等领域，一站式解决所有支付问题。凭借技术、市场和行业经验等优势，立足支付技术，结合我国信息化新浪潮，围绕电子支付领域，积极推进电子支付服务的创新与布局，茁壮成长为一家业内领先的第三方支付服务商。
                            p 自2014年公司成立以来，我们富卡人不断探索、学习。公司秉承以”客户至上、服务至上、安全至上”的宗旨。所以更懂得市场、客户、商家以及创业者真正需要的是什么。当今市场和客户恰恰需要像我们这样一支务实的队伍，提供更完善的服务。所以我们一直都在严格要求自身、不断学习，用心在工作中的每一个环节，认真服务每位客户和商家！
                            p 富卡（四川）科技有限公司是一家为客户提供一站式服务的移动支付终端高新技术企业。主要从事研发和销售POS收款机及其他收银设备，并提供收银方案、软件开发与维护、收银设备安装等服务。为客户提供全面、安全、可靠的信息技术服务。
                            p 富卡科技会继续坚持以打造行业新生态为使命，以服务民生促进经济发展为基本立足点，通过深耕支付行业与自我创新的紧密结合，打造行业新生态，通过深挖垂直行业支付市场以及支付场景，大力推动行业的转型与发展，为各行业的“互联网+”转型升级贡献自己的力量。
                            p 公司总部设在成都，业务线已覆盖全国各省市，设有多家分公司。    
                        

            include ../../shared/component/footer/index.pug
   
