doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="" 拉卡拉pos "是拉卡拉推出的一款面向小微商户的智能、多用途收款终端。它整合了商户的收款需求和便利支付业务需求，具有申请易、结算快的特点，一站式解决商户开店所需，是帮助商户聚集人气、减支创收的收单工具。详询：13880716202")
        title 拉卡拉pos机_打造便捷时代 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper

                .container
                    .row
                        h2 拉卡拉POS机
                .row
                    .col-md-12
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20170721104528_96848.jpg')
                .container
                    .row
                        .col-md-4
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150114185952_39808-300x243.png')
                        .col-md-8.m-auto
                            section
                                p “拉卡拉pos”是拉卡拉推出的一款面向小微商户的智能、多用途收款终端。它整合了商户的收款需求和便利支付业务需求，具有申请易、结算快的特点，一站式解决商户开店所需，是帮助商户聚集人气、减支创收的收单工具。
                    
                    .row
                        .col-md-12
                            h3 六大功能
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20150312133137_68741.jpg')
                        .col-md-10
                            section
                                h4 服务健全
                                p 既能刷卡收单，也有手机充值、信用卡还款、游戏充值等增值服务。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312133146_14359.jpg')
                        .col-md-10
                            section
                                h4 高效低耗
                                p 快速资金结算周期，机具打印耗材费全免，固定POS机交易通讯费全免。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312133156_86428.jpg')
                        .col-md-10
                            section
                                h4 快速清算
                                p 数据传输速度快，受理范围广，处理速度快。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312133207_90916.jpg')
                        .col-md-10
                            section
                                h4 简单办理
                                p 手续简单，专业人员快速上门服务，安装手续只需3天。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312133218_61655.jpg')
                        .col-md-10
                            section
                                h4 便捷查询
                                p 多渠道掌握交易动向。每日自动发送前一日交易明细至商户邮箱，也可通过POS网站管理平台自助查询。
                    .row
                        .col-md-2.text-center
                            img.h-auto(style="width:62px" src='http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/20150312133228_14487.jpg')
                        .col-md-10
                            section
                                h4 贴心售后
                                p 机具终身免费维修，定期上门回访。
                    .row
                        .col-md-12
                            h3 服务项目
                    .row
                        .col-md-4.m-auto
                            img.w-100.h-auto(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20150312133244_472461.png')
                        .col-md-8.m-auto
                            section
                                p 免费提供上门安装、培训、维护、回访及耗材配送等服务；
                                p 免通讯费。对使用固定终端的商户，交易产生的电话费由拉卡拉公司承担，每笔交易商户可节省至少0.2元；
                                p 免机具打印纸耗材费；
                                p 免机具维护费；
                                p 免账务服务费。每日自动将上一个交易日（节假日延期）的交易报表发送到商户指定的对账邮箱；
                                p 提供365天7*18小时的热线服务（028-61865352）。
                    

        include ../../shared/component/footer/index.pug

