style.
    footer {
    background: url(http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/A.jpg);
    padding-top: 20px;
    border-top: 1px solid #000000;
    }

    footer b {
        font-size: 16px;
        display: block;
        width: 100%;
        float: left;
        margin: 5px 0 0;
        border-bottom: 1px solid #000000;
        font-weight: normal;
        color: #000000;
    }

    footer font {
        display: block;
        width: 100%;
        text-transform: uppercase;
    }

    footer .contact a {
        float: left;
        color: #000000;
        font-size:12px;
    }

    footer .bottom-link {
        border-top: 1px solid #000000;
        padding: 10px 0;
        margin: 20px 0;
    }

    footer input,
    footer textarea {
        background: #f2f2f2 !important;
    }
    .qr {
        max-width: 88px;
    }

footer
    .row
        .col-md-5.text-center
            a(href='#')
                img(src='http://www.sclakala.cn/wp-content/uploads/2019/03/id-3.png')
            p
                | 咨询热线：13880716202
                br
                | 咨询热线：15114016285
                br
                |（24hrs星期一到星期日,免费上门安装）
                br
                | 售后电话：028-61865352（8:00-22:00）
                br
                | 富卡科技公众号：四川富卡科技有限公司
        .col-md-5.contact.text-center
            b
                font follow us From at social media
                | 关注社交媒体  
            a(href='#')  
                img.qr(src='http://rs.mgapp.com.cn/WeChat%20Image_20190325171922.png', alt='关注社交媒体')
            p 微信扫码，24h随时咨询。也可以通过下面媒体关注我们
            p 
                a(href='#')
                    img(src="http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/2-1.png", alt="", srcset="")
                a(href='#')
                    img(src="http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/4.png", alt="", srcset="")
                a(href='#')
                    img(src="http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/5.png", alt="", srcset="")
                a(href='#')
                    img(src="http://cdsykj.gotoip11.com/wp-content/uploads/2018/12/7.png", alt="", srcset="")
        .clearfix.visible-xs-block
        .col-md-4
            //- b
            //-     font 欢迎留下您的联系方式
            //- form.form-horizontal
            //-     .form-group
            //-         label.col-sm-2.control-label 姓名
            //-         .col-sm-10
            //-             input.form-control
            //-     .form-group
            //-         label.col-sm-2.control-label 电话
            //-         .col-sm-10
            //-             input.form-control
            //-     .form-group
            //-         label.col-sm-2.control-label 地址
            //-         .col-sm-10
            //-             input.form-control
            //-     .form-group
            //-         label.col-sm-2.control-label 留言
            //-         .col-sm-10
            //-             textarea(name="", cols="30", rows="5").form-control
            //-     a.btn.btn-success.btn-block(href='javascript:history.back(-1);') 提交
    
    p.text-center 版权所有 ©2019 四川富卡科技有限公司 | 蜀ICP备19001090号 |
    .container
    .row(style='height:51px')
script. 
    var _hmt = _hmt || [];
    (function(){
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fd3e1d60b43eae56c3f3aead6f924f60";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();



