
.container-fluid
    .row
        .col-md-12
            nav.navbar.navbar-default.navbar-mobile.bootsnav.on
                .navbar-header
                    a.navbar-brand(href='/')
                        img(src='http://www.sclakala.cn/wp-content/uploads/2018/12/id_07.png')
                    button.navbar-toggle.navbar-toggle-right(type='button',data-toggle="collapse",data-target="#navbar-menu")
                        i.fa.fa-bars
                #navbar-menu.collapse.navbar-collapse
                    ul.nav.navbar-nav(data-in="fadeInDown",data-out="fadeOutUp")
                        li
                            a(href='#') 首页
                        li.dropdown
                            a.dropdown-toggle(href='/about-us',data-toggle="dropdown") 关于我们
                            ul.dropdown-menu.animated
                                li
                                    a(href='/about-us/company-profile') 公司简介
                                li
                                    a(href='#') 发展历程
                                li
                                    a(href='#') 咨询中心
                        li.dropdown
                            a.dropdown-toggle(href='#',data-toggle="dropdown") 解决方案
                            ul.dropdown-menu.animated
                                li
                                    a(href='#') 便民支付
                                li
                                    a(href='#') POS收单
                        li
                            a(href='#') 新品上市 考拉超收
                        li.dropdown
                            a.dropdown-toggle(href='#',data-toggle="dropdown") 拉卡拉
                            ul.dropdown-menu.animated
                                
                                li.dropdown
                                    a.dropdown-toggle(href='#',data-toggle="dropdown") 拉卡拉下载中心
                                    ul.dropdown-menu.multi-dropdown.animated
                                        li
                                            a(href='#') 拉卡拉
                                        li
                                            a(href='#') 商户通
                                        li
                                            a(href='#') 手机收款宝客户端
                                        li
                                            a(href='#') 云码盒子客户端
                                        li
                                            a(href='#') 考拉信用客户端
                                        li
                                            a(href='#') 拉卡拉钱包
                                li
                                    a(href='#') 拉卡拉智能POS
                                li
                                    a(href='#') 拉卡拉收钱宝盒
                                li.dropdown
                                    a.dropdown-toggle(href='#',data-toggle="dropdown") 拉卡拉超级收款宝
                                    ul.dropdown-menu.multi-dropdown.animated
                                        li
                                            a(href='#') 拉卡拉超级收款宝QR65
                                        li
                                            a(href='#') 拉卡拉超级收款宝Q50
                                        li
                                            a(href='#') 拉卡拉超级收款宝SL58
                                li
                                    a(href='#') 拉卡拉智能收银台
                                li
                                    a(href='#') 拉卡拉全能收款码
                                li
                                    a(href='#') 拉卡拉手机收款宝
                                li
                                    a(href='#') 拉卡拉POS
                                li
                                    a(href='#') 多媒体智能终端
                        li.dropdown
                            a.dropdown-toggle(href='#',data-toggle="dropdown") 产品列表
                            ul.dropdown-menu.animated
                                li.dropdown
                                    a.dropdown-toggle(href='#',data-toggle="dropdown") 瑞和宝
                                    ul.dropdown-menu.multi-dropdown.animated
                                        li
                                            a(href='#') 瑞和宝app下载
                                li.dropdown
                                    a.dropdown-toggle(href='#',data-toggle="dropdown") 卡友支付
                                    ul.dropdown-menu.multi-dropdown.animated
                                        li
                                            a(href='#') 卡友app下载
                                li.dropdown
                                    a.dropdown-toggle(href='#',data-toggle="dropdown") 收钱吧扫码王
                                    ul.dropdown-menu.multi-dropdown.animated
                                        li
                                            a(href='#') 扫码王app下载
                        li.dropdown
                            a.dropdown-toggle(href='/contact',data-toggle="dropdown") 联系我们
                            ul.dropdown-menu.animated
                                li
                                    a(href='/contact/join-agent') 商业合作
                                li
                                    a(href='/contact/partner') 合作伙伴
                                li
                                    a(href='/contact/recruitment') 招贤纳士

                                       
