head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
    meta(name="keywords",content="成都POS机,成都移动POS机,成都POS机办理,成都POS机申请,成都POS机安装,pos机刷卡,手机POS机,pos机刷卡手续费,银联pos机,免费POS机,免费个人POS机,低费率POS机,养卡POS机,pos机怎么用,拉卡拉pos机,海科融通pos机,瑞银信pos机,卡友pos机,点佰趣pos机,富卡科技")
    meta(name="description",content="四川富卡科技有限公司是拉卡拉pos、海科融通pos、瑞银信pos机核心代理机构，咨询电话：028-61865352，我公司提供银联刷卡机、手机POS机、POS机办理、POS机安装、智能pos机刷卡业务，致力于“安全、稳定、便捷”的移动支付解决方案。")
    title 免费申请pos机_拉卡拉pos机 | 四川富卡科技  - 官方网站

    meta(name='msapplication-TileImage',content='/static/img/favicon-270x270.png')
    meta(name='apple-touch-icon-precomposed',href='/static/img/favicon-180x180.png')
    link(rel='icon',href='/static/img/favicon-32x32.png',sizes="32x32")
    link(rel='icon',href='/static/img/favicon-192x192.png',sizes="192x192")
    link(rel="stylesheet", href="https://cdn.staticfile.org/twitter-bootstrap/4.2.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.staticfile.org/font-awesome/4.6.3/css/font-awesome.min.css")
    script(src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js")
