doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="基于互联网和云计算的智能POS终端。集全支付，全受理，会员营销于一体。叠加的拉卡拉便民服务和互联网金融增值服务，一站式满足商户转账、还款、理财、贷款等各类金融所需，POS+的各种定制化应用，助力商户实现智能化的店铺经营。")
        title 拉卡拉智能pos_连接无限可能 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                //- .row
                //-     .page-img.w-100(style="background:url('http://www.lakala.com/templets/default/image/phone/load.jpg') no-repeat center;background-size:cover;")
                //-         img(src='http://www.lakala.com/templets/default/image/temp/load.jpg')
                
                .container
                    .row
                        h2 拉卡拉智能POS
                .row
                        img.w-100(src='http://www.sclakala.cn/wp-content/uploads/2018/12/20160121113712_70371-1024x204.jpg')
                .container
                    .row 
                        .col-md-12
                            table.table.table-hover.table-bordered
                                tbody
                                    tr.table-primary
                                        td 品牌
                                        td 拉卡拉
                                    tr
                                        td 电池
                                        td 4.35V 4000mAh 高性能锂电池
                                    tr.table-primary
                                        td 存储
                                        td RAM：1GB运行内存 ROM：4GB内存 可扩展32G
                                    tr
                                        td 按键
                                        td 1个主按键 1个音量按键 1个电源键
                                    tr.table-primary
                                        td 打印
                                        td 高速静音热敏打印
                                    tr
                                        td 尺寸
                                        td 18*8cm
                                    tr.table-primary
                                        td 重量
                                        td 480g
                                    tr
                                        td 摄像头
                                        td 500万像素
                                    tr.table-primary
                                        td 屏幕类型
                                        td 5.0英寸IPS液晶显示屏
                                    tr
                                        td 数据安全
                                        td PCI 安全认证
                                    tr.table-primary
                                        td 数据传输型号a
                                        td WiFi+4G通信版
                                    tr
                                        td 数据传输型号b
                                        td WiFi版本
                    .row
                        section
                            p 一款基于互联网和云计算的智能POS终端。集全支付，全受理，会员营销于一体。叠加的拉卡拉便民服务和互联网金融增值服务，一站式满足商户转账、还款、理财、贷款等各类金融所需，POS+的各种定制化应用，助力商户实现智能化的店铺经营。
                    
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-1.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-12.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-12.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-11.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-10.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-9.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-8.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-7.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/Smart-pos-2.jpg')      
            include ../../shared/component/footer/index.pug
   
