doctype html
html(lang="zh")
    head
        include ../../shared/component/head/index.pug
        meta(name="description",content="拉卡拉收钱宝盒是专为中小微商户打造的新一代收银扫码终端。支持主流扫码聚合支付（微信，支付宝，银联二维码）。无需收银软件驱动，即可完成扫码收款、语音播报等功能。专属APP叠加多项增值服务，一步整合查账、提款、商户进件等。竭力提升商户收款效率与体验，开启新时代。")
        title 拉卡拉收钱宝盒_即插即用_语音播报 - 拉卡拉官方网站
    body
        include ../../shared/component/nav/index.pug
        #wrapper
            #page-wrapper
                //- .row
                //-     .page-img.w-100(style="background:url('http://www.lakala.com/templets/default/image/phone/load.jpg') no-repeat center;background-size:cover;")
                //-         img(src='http://www.lakala.com/templets/default/image/temp/load.jpg')
                
                .container
                    .row
                        h2 拉卡拉收钱宝盒
                .row
                    .col-md-12
                        img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakala-collection-box.jpg')
                .container
                    .row
                        .offset-md-1.col-md-10
                            video(src="http://www.sclakala.cn/wp-content/uploads/2019/02/1.mp4?_=1",controls="controls")
                    .row 
                        .col-md-12
                            table.table.table-hover.table-bordered
                                //- thead
                                //-     tr
                                //-         th(scope='col') #
                                //-         th(scope='col') first
                                tbody
                                    tr.table-primary
                                        td 传输类型Ⅰ
                                        td 82G WiFi版【支持WiFi+GPRS通信】
                                    tr
                                        td 传输类型Ⅱ
                                        td 81R 非独立通讯版
                                    tr.table-primary
                                        td 适用场景
                                        td 收银
                                    tr
                                        td 产品分类
                                        td 收钱宝盒+键盘（免收银系统）
                                    tr.table-primary
                                        td 品牌
                                        td 拉卡拉
                                    tr
                                        td 型号
                                        td LKL-SMHZ
                                    tr.table-primary
                                        td 尺寸
                                        td 100x100x95mm
                    .row
                        section
                            h3 产品介绍
                            h4 聚合扫码
                            p 支持微信、支付宝、银联二维码等主流支付方式全能受理;
                            p 交易退款或撤销时，直接扫码手机收款凭证进行退款或撤销;
                            p 识别范围广，0.1秒精准识别，扫码更快速便捷
                            p 商户不用找零钱，收款效率高
                            h4 语音播报
                            p 笔笔交易，实时语音播报
                            p 可扫描设置二维码调整音量大小
                            h4 交易对账
                            p 云码盒子App、商户通App
                            p 可进行查对账，并为商户提供进件、理财、钱包等便民服务
                            p 为商户提供商户管理、问题处理等操作
                            p 拉卡拉收钱宝盒是专为中小微商户打造的新一代收银扫码终端，支持市面主流的扫码收款方式。无需收银软件驱动，即可完成扫码收款、退款、交易撤销、语音播报等功能，专属APP叠加多项增值服务，一步整合查账、提款、商户进件、理财等。竭力提升商户收款效率与体验，开启收款新时代。

                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-1.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-2.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-3.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-4.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-5.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-6.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-7.jpg')      
                    .row
                            img.w-100.h-100(src='http://www.sclakala.cn/wp-content/uploads/2019/02/lakalabox1-8.jpg')      
            include ../../shared/component/footer/index.pug
   
